$background: #27262A;

$text: white;
$h2-color: #D0D0D0;
$h3-color: white;
$em-color: #B049F2;

$login-form-border: #777;
$login-form-background: #555;

$field-background: #444;
$field-text: #FFF;
$field-border: #AFAFAF;
$field-shadow: #9F72C6;
$button-background: #50C878;
$button-hover-background: #A06CD5;
$button-hover-text: #FFF;
$misc-button-background: #CCC;
$misc-button-text: #000;
$checkbox-hover-background: #BA7FDD;

$sidebar-background: #A0A0A0;
$sidebar-background-selected: #666;
$sidebar-text: #000;
$sidebar-text-selected: #FFF;
$sidebar-title: #333;
$sidebar-hover-background: #A020F0;
$sidebar-hover-text: #FFF;
$sidebar-hr-color: #777;

$table-background: #46464D;
$table-text: #FFF;
$table-header-background: #555;
$table-header-text: #FFF;
$table-sortable-background: #898989;
$table-hover-background: #EFD9FC;
$table-hover-text: #555;
$table-pgsel-text: #DDD;
$table-pgsel-hover-text: #A020F0;

$tooltip-background: rgba(0,0,0,.8);
$tooltip-text: #FFF;

$infotip-background-success: rgba(40,206,40,.9);
$infotip-text-success: #FFF;

$infotip-background-failure: rgba(186,0,42,.8);
$infotip-text-failure: #FFF;

$modal-box-background: #181818;
$modal-box-text: #FFF;
$modal-box-border: #121212;
