$background: white;

$text: black;
$h2-color: #555555;
$h3-color: black;

$login-form-border: #DDD;
$login-form-background: #EEE;

$field-background: white;
$field-text: black;
$field-border: #AFAFAF;
$field-shadow: #9F72C6;
$button-background: #50C878;
$button-hover-background: #A06CD5;
$button-hover-text: #FFF;
$misc-button-background: #CCC;
$misc-button-text: #000;
$checkbox-hover-background: #EFD9FC;

$sidebar-background: #181818;
$sidebar-background-selected: #666;
$sidebar-text: #A0A0A0;
$sidebar-text-selected: #FFF;
$sidebar-title: #FFF;
$sidebar-hover-background: #A020F0;
$sidebar-hover-text: #FFF;
$sidebar-hr-color: #444;

$table-background: #EEE;
$table-text: #000;
$table-header-background: #555555;
$table-header-text: #FFF;
$table-sortable-background: #898989;
$table-hover-background: #EFD9FC;
$table-hover-text: black;
$table-pgsel-text: #000;
$table-pgsel-hover-text: #A020F0;

$tooltip-background: rgba(0,0,0,.8);
$tooltip-text: #FFF;

$infotip-background-success: rgba(40,206,40,.9);
$infotip-text-success: #FFF;

$infotip-background-failure: rgba(186,0,42,.8);
$infotip-text-failure: #FFF;

$modal-box-background: #EEE;
$modal-box-text: #000;
$modal-box-border: #DDD;
